*{
    padding:0;
    margin:0;
}
#header{
    width: 100%;
}
#header .h1{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
#header .h1 a{
   text-decoration: none;
   color: black;
}
#header .h2{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
#header nav{
    margin: 10px;
    border-radius:5px;
    background-color: rgb(168, 214, 90);
}
#header nav ul{
    display: flex;
    list-style: none;
}
#header nav ul li{
    padding: 5px 10px ;
    display: flex;
    align-items: center;
    justify-content: center;
}
#header nav ul li a{
    text-decoration: none;
    color: black;
}
#header nav ul li:hover{
    background: darkorange;
}
.container{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2,1fr);
}
.container form{
    margin-top:20px;
}
.container form label{ 
    font-size:20px;
}
.container button{
    margin-top:10px;
}
.container .left{
    width: 50%;
    margin-left: 20px;
}
.container .left h2{
    color: blue;
}
.container .right{
    width: 50%;
}
.container .right h2{
    color: blue;
}# KT90p
